#item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#request{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#food{
    
}

#foodText{

}

#desc{
    
}

#descText{

}