body{
    justify-content: center;
    align-items: center;
}

#item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#request{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#descText{
    width: 50%;
}